/*Font per il resto del testo:
‘Sometype Mono’, ‘monospace’*/


/*Parte dell'header*/

header{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-image:url(./assets_day1/img/wall.png);
    
}


#title{
    font-family: "Embed code", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style:oblique;
}


/*Parte del main*/

main{
    background-image: url(./assets_day1/img/cork.png);
    padding: 50px;
    
}

.card-title{
    font-family: "Embed code", sans-serif;
    font-weight: bold;
}

.card-text{
    font-family: "Sometype Mono", monospace;
    font-style:oblique;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100%/3);
    
}



.card.static{
    display: none;
    margin-bottom: 20px;
    
}

.card{
    margin-bottom: 20px;
    padding: 10px;
    position: absolute;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*In questo modo le card non si alzano di scatto*/
     
}

.card:hover{
    transform: scale(1.05);  /*In questo modo l'immagine si ingrandisce*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}

.pin{
    position: relative;
    z-index: 1;
    bottom: 375px;
    left: 97px;
}







